@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url('http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900');

.section-header {
    height: 650px;
}

.profile-image {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}

.no-content-text {
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

.profile-img {
    width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.profile-detail {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    padding-left: 5%;
    padding-right: 5%;
}

.profile-title {
    font-family: 'Roboto';
    line-height: 8vh;
}

.profile-title-first-text {
    /* font-size: 2vw; */
    font-weight: 300;
    text-transform: lowercase;
    display: block;
    color: #a4a5a6;
}

.profile-title-second-text {
    /* font-size: 1vh; */
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    color: #007bff;
}

.profile-subtitle {
    font-family: 'Roboto';
    font-style: normal;
    margin-top: 35px;
}

.profile-subtitle-text {
    font-size: 28px;
    color: #979899;
    font-weight: lighter;
    float: left;
}

.social-media {
    font-size: 32px;
    float: right;
}

.social-media-item {
    margin-left: 12px;
    color: #aaaaaa;
}

hr {
    height: 2px;
    color: #ccc;
    background: #ccc;
    font-size: 0;
    border: 0;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    opacity: 0.2;
}

.profile-detail-item {
    font-family: 'Roboto';
    font-size: small;
}

.profile-detail-item-title {
    font-weight: 500;
    font-size: 14px;
    display: block;
    color: #979797;
}

.profile-detail-item-text {
    font-weight: 300;
    font-size: 14px;
    display: block;
    color: #979797;
    word-wrap: break-word;
}

.section-left-content-header {
    background-color: #2b2c2c;
}

.section-right-content-header {
    background-color: #2d2e2e;
}

.section-left-content {
    text-align: right;
    padding: 5%;
}

.section-right-content {
    padding: 5%;
}


.section-left-content-1 {
    background-color: #292a2a;
}

.section-right-content-1 {
    background-color: #2b2c2c;
}

.section-left-content-2 {
    background-color: #2b2c2c;
}

.section-right-content-2 {
    background-color: #292a2a;
}

.section-left-title {
    font-weight: 500;
    display: block;
    color: #979797;
    text-transform: uppercase;
}

.section-left-subtitle {
    font-weight: 300;
    font-size: 14px;
    display: block;
    color: #979797;
}